.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 1%;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 6px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    margin: 6px;
    vertical-align: top;
}
.main {
    height: 420px;
    width: 710px;
    background-color: red;
    margin: 3px 0px;
    padding: 15px 20px;
    display: inline-block;
    box-sizing: border-box;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin: 4px;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    position: relative;
    left: 3px;
    margin-top: 12px;
}
